<div class="row">
  <div class="col-xs-12">
    <img
      [src]="referee.imagePath"
      [alt]="referee.lastName"
      class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ referee.firstName }} {{ referee.lastName }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Referee <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)='toRatingsList(referee)' style='cursor: pointer;'>To Ratings List</a></li>
        <li><a style='cursor: pointer;'>Edit Referee</a></li>
        <li><a style='cursor: pointer;'>Delete Referee</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{referee.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let rating of referee.ratings">
        <p>Rating: {{ rating.rating }}</p>
        <p>{{ rating.comment }}</p>
      </li>
    </ul>
  </div>
</div>