<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="rating">Rating</label>
          <input
            type="number"
            id="rating"
            class="form-control"
            #ratingInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="rating">Comment</label>
          <input
            type="text"
            id="comment"
            class="form-control"
            #commentInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="button"
            (click)="addRating()">Add</button>&nbsp;
          <button class="btn btn-danger" type="button">Delete</button>&nbsp;
          <button class="btn btn-primary" type="button">Clear</button>&nbsp;
        </div>
      </div>
    </form>
  </div>
</div>