<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="addRating(frm)" #frm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="rating">Rating</label>
          <input
            type="number"
            id="rating"
            name="rating"
            class="form-control"
            ngModel
            required
            pattern="([1-9]|10)">
        </div>
        <div class="col-sm-2 form-group">
          <label for="rating">Comment</label>
          <input
            type="text"
            id="comment"
            name="comment"
            class="form-control"
            ngModel
            required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="frm.invalid">{{ editMode ? 'Update' : 'Add' }}</button>&nbsp;
          <button
            class="btn btn-danger"
            type="button"
            [disabled]="!editMode"
            (click)="deleteRating()">
            Delete
          </button>&nbsp;
          <button
            class="btn btn-primary"
            type="button"
            (click)="clearForm()">
            Clear
          </button>&nbsp;
        </div>
      </div>
    </form>
  </div>
</div>