<a
  style="cursor: pointer;"
  [routerLink]="['/referees', referee.id]"
  routerLinktActive="active"
  class="list-group-item clearfix">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{referee.firstName}} {{ referee.lastName }}</h4>
      <p class="list-group-item-text">{{referee.description}}</p>
    </div>
    <span class="pull-right">
      <img
        [src]="referee.imagePath"
        alt="Referee image"
        class="img-responsive"
        style="max-height: 50px;">
    </span>
</a>